<div class="container" style="max-width: 1200px;">
  <center>
  <h1>Ogłoszenia</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      Ilość ogłoszeń: <%=@announcements.size%>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <%= link_to("Dodaj ogłoszenie", {:controller => 'announcement', :action => 'add', :id => session[:user_id]}, :class=>"btn btn-info")%>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <%= form_tag({:controller => "announcement", :action => "search"}, :method => "get") do %>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag "Search"%>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>ID</th>
        <th>Kategoria</th>
        <th>Użytkownik</th>
        <th>Tytuł</th>
        <th>Cena za godzinę</th>
        <th>Cena za dzień</th>
        <th>Utworzona</th>
        <th>Edytowana</th>
        <th>Akcje</th>
      </tr>

      <% @announcements.each do |announcement| %>
        <tr>
          <td><%=announcement.id %></td>
          <td><%= announcement.announcement_category.name %></td>
          <td><%=announcement.user.user_name%></td>
          <td><%=announcement.title%></td>
          <td><%=announcement.price_per_hour%></td>
          <td><%=announcement.price_per_day%></td>
          <td><%=announcement.created_at%></td>
          <td><%=announcement.updated_at%></td>
          <td>
            <%= link_to("Pokaż", {:action => 'show', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
            <br><br>
            <%= link_to("Edycja", {:action => 'edit', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
            <br><br>
            <%= link_to("Usuń", {:action => 'delete', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
  <%= link_to("Panel zarządzania", {:controller => 'access', :action => 'index'}, :class=>"btn btn-info") %>
</center>
</div>
