<div class="container">
  <h2 class="text-center" style="margin: 30px 0">Wyniki wyszukiwania dla <%= params[:search]%></h2>
  <% @search_announcemets.each do |announcement| %>
      <%= link_to({:controller => 'announcement', :action => 'show', :id => announcement.id}, style: "text-decoration:none;") do %>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom: 15px;">
          <% @photos.each do |photo| %>
            <% if photo.announcement.id == announcement.id%>
              <div class="img-thumbnail" style="height: 300px; overflow: hidden;">
                <%=image_tag(photo.image, :class => "product_img2")%>
              </div>
              <% break %>
            <% end %>
          <% end %>
          <div class="text-center">
            <h3><%= announcement.title %></h3>
            <h5>Cena za godzinę: <b><%=announcement.price_per_hour %> zł</b></h5>
            <h5>Cena za dzień: <b><%=announcement.price_per_day %> zł</b></h5>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
