<div class="container">
  <h2>Wyniki wyszukiwania dla <%= params[:search]%></h2>
  <div class="row">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <% if session[:is_admin] %>
          <th>ID</th>
        <% end %>
        <th>Kategoria</th>
        <% if session[:is_admin] %>
          <th>Użytkownik</th>
        <% end %>
        <th>Tytuł</th>
        <th>Cena za godzinę</th>
        <th>Cena za dzień</th>
        <th>Utworzona</th>
        <th>Edytowana</th>
        <th>Akcje</th>
      </tr>

      <% @search_announcemets.each do |announcement| %>
        <tr>
          <% if session[:is_admin] %>
            <td><%=announcement.id %></td>
          <% end %>
          <td><%= announcement.announcement_category.name %></td>
          <% if session[:is_admin] %>
            <td><%=announcement.user.user_name%></td>
          <% end %>
          <td><%=announcement.title%></td>
          <td><%=announcement.price_per_hour%></td>
          <td><%=announcement.price_per_day%></td>
          <td><%=announcement.created_at%></td>
          <td><%=announcement.updated_at%></td>
          <td>
            <%= link_to("Pokaż", {:action => 'show', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
            <br><br>
            <%= link_to("Edycja", {:action => 'edit', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
            <br><br>
            <%= link_to("Usuń", {:action => 'delete', :id => announcement.id}, :class=>"btn btn-xs btn-primary")%>
          </td>
        </tr>
      <% end %>
    </table>

  </div>

</div>
