
<div class="container">
  <div class="row">
    <div class="backimg">
      <%= image_tag('tlo.png',  height: '300', width: '100%') %>
    </div>
  </div>

  <!-- Tilte -->
  <div class="row", style="text-align:center;">
    <h1><%= @announcement.title %></h1>
  </div>
  <!-- description and prices -->
  <div class="row">
    <!-- description -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h3 style="text-align:center;"> OPIS </h3>
      <%= @announcement.description%>
    </div>
    <!-- prices -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <!-- price_per_hour -->
      <div class="row", style="text-align:right;">
        <h4 > Cena za godzine </h4>
        <%= @announcement.price_per_hour%>
      </div>
      <!-- price_per_day -->
      <div class="row", style="text-align:right;">
        <h4> Cena za dzień </h4>
        <%= @announcement.price_per_day%>
      </div>
    </div>
  </div>
  <div class="row", style="text-align:right; padding-top:25px;">
    <h6>Utworzono: <%=@announcement.created_at%></h6>
    <h6>Utworzono: <%=@announcement.updated_at%></h6>
  </div>
  <!-- Display all photos - nice to see gallery ;D -->
  <div class="row", style="text-align:center;">
    <% @photos.each do |photo| %>
        <% if photo.announcement.id == @announcement.id%>
          <td><%=image_tag photo.image %></td>
        <%end%>
    <% end %>
  </div>
  <!-- fotter -->
  <div class="row", style="padding-top:50px;">

  </div>
</div>
