<center>

<%= form_tag(:action => 'password') do %>
<div class="container col-xs-4 col-xs-offset-4">
  <h1 class="text-center">Zmiana hasła</h1>

  <form role="form">


        <div class="form-group">
          <%= label(:old_password, "Obecne hasło:") %>
          <br>
          <%= password_field_tag(:old_password) %>
        </div>

        <div class="form-group">
          <%= label(:password, "Nowe hasło:") %>
          <br>
          <%= password_field_tag(:password) %>
        </div>

        <div class="form-group">
          <%= label(:password_confirmation, "Potwierdź hasło:") %>
          <br>
          <%= password_field_tag(:password_confirmation) %>
        </div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
              <%= submit_tag("Zatwierdź", :class=>"btn btn-lg btn-primary btn-block") %>
            </div>
      </div>
      </form>
      </div>
  <%end%>

</center>
