<%= form_for(:update_parametrs, :url => {:action => "update", :id => @user.id}) do |user|%>

<div class="container col-xs-4 col-xs-offset-4">
  <h1 class="text-center">Edycja</h1>

  <form role="form">
    <div class="form-group">
      <%= error(@user) %>
    </div>
    <div class="form-group">
      <%= user.label(:email, "Email:") %>
      <br>
      <%= user.label(:email, @user.email) %>
    </div>
    <div class="form-group">
      <%= user.label(:user_name, "Nazwa użykownika:") %>
      <br>
      <%= user.label(:user_name, @user.user_name) %>
    </div>
    <div class="form-group">
      <%= user.label(:first_name, "Imię:") %>
      <%= user.text_field(:first_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= user.label(:last_name, "Nazwisko:") %>
      <%= user.text_field(:last_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= user.label(:phone, "Telefon:") %>
      <%= user.telephone_field(:phone, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= user.label(:birth_date, "Data urodzenia:") %>
      <%= user.date_select(:birth_date, order: [:day, :month, :year], start_year: 1900, end_year: 2016, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= user.label(:regulations_accepted, "Regulamin zakceptowany:") %>
      <%= user.label(:regulations_accepted, @user.regulations_accepted) %>
    </div>


<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
    <%= submit_tag("Aktualizuj", :class=>"btn btn-lg btn-primary btn-block") %>
  </div>
</div>
</form>
</div>
<%end%>
