<%= form_for(:update_user, :url => {:action => "update", :id => @update_user.id}) do |update_user|%>

<div class="container col-xs-4 col-xs-offset-4">
  <h1 class="text-center">Edycja</h1>

  <form role="form">
    <div class="form-group">
      <%= update_user.label(:email, "Email:") %>
      <br>
      <%= update_user.label(:email, @update_user.email) %>
    </div>
    <div class="form-group">
      <%= update_user.label(:user_name, "Nazwa użykownika:") %>
      <br>
      <%= update_user.label(:user_name, @update_user.user_name) %>
    </div>
    <div class="form-group">
      <%= update_user.label(:first_name, "Imię:") %>
      <%= update_user.text_field(:first_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= update_user.label(:last_name, "Nazwisko:") %>
      <%= update_user.text_field(:last_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= update_user.label(:phone, "Telefon:") %>
      <%= update_user.telephone_field(:phone, :class=>"form-control") %>
    </div>


<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
    <%= submit_tag("Aktualizuj", :class=>"btn btn-lg btn-primary btn-block") %>
  </div>
</div>
</form>
</div>
<%end%>
