
<%= form_for(:create_new_user, :url => {:action => 'create'}) do |new_user|%>
<div class="container col-xs-4 col-xs-offset-4">
  <h2 class="text-center">Rejestracja użytkownika</h2>
  <form role="form">
    <div class="form-group">
      <%= new_user.label(:user_name, "Nazwa użykownika:") %>
      <br>
      <%= new_user.text_field(:user_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:password, "Hasło:") %>
      <%= new_user.password_field(:password, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:password_confirmation, "Potwierdź hasło:") %>
      <%= new_user.password_field(:password_confirmation, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:first_name, "Imię:") %>
      <%= new_user.text_field(:first_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:second_name, "Nazwisko:") %>
      <%= new_user.text_field(:second_name, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:email, "Email:") %>
      <%= new_user.email_field(:email, :class=>"form-control") %>
    </div>
    <div class="form-group">
      <%= new_user.label(:phone, "Telefon:") %>
      <%= new_user.telephone_field(:phone, :class=>"form-control") %>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="regulamin"> Akceptuję
        <%= link_to asset_path("regulamin.pdf") do %> regulamin <% end %>
        portalu WSE
      </label>
    </div>
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <%= submit_tag("Dodaj!", :class=>"btn btn-lg btn-primary btn-block") %>
      </div>
    </div>
  </form>
</div>
<%end%>
