<h1>Zarejestrowani użytkownicy</h1>
<p>
  Ilość użytkowników: <%= @users.size %>
</p>

<table>
  <tr>
      <th>user_name</th>
      <th>password_digest</th>
      <th>first_name</th>
      <th>second_name</th>
      <th>email</th>
      <th>phone</th>
  </tr>
<% @users.each do |user| %>
  <tr>
      <th><%= user.user_name %></th>
      <th><%= user.password_digest %></th>
      <th><%= user.first_name %></th>
      <th><%= user.second_name %></th>
      <th><%= user.email %></th>
      <th><%= user.phone %></th>
  </tr>
<% end %>

</table>


<hr>
  <%= params.inspect %>
<hr>
