
<br>
<div class="container">
  <center>
    <div class="row">
      <div class="grid">
        <div class="row">
          <% @categories.each do |category| %>
            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="icon">
              <%= link_to image_tag(url_for(:controller => "announcement_categories", :action => "show", :id => category.id), :class => "icon-photo",alt: category.name), {:controller => 'announcement', :action => 'view_by_category', :id => category.id}%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid">
        <% @announcements.take(6).each do |announcement| %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6", style="padding-top:25px;">
            <%= link_to({:controller => 'announcement', :action => 'show', :id => announcement.id}, style: "text-decoration: none;") do %>
              <div class="imageContainer" style="color:black;">
                <div class="row" style="margin: 10px;">
                  <h2 style="text-shadow: 0px 1px 7px rgba(0,0,0,0.5);"><%= announcement.title%></h2>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                    <% @photos.each do |photo| %>
                      <% if photo.announcement.id == announcement.id%>
                        <td><%=image_tag(photo.image, :class => "product_img")%></td>
                        <% break %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" style="padding-top: 15px;">
                      <h4 style="text-shadow: 0px 1px 3px rgba(0,0,0,0.3);"><%= announcement.announcement_category.name%></h4>
                      <h5 style="text-shadow: 0px 1px 3px rgba(0,0,0,0.3);">Cena za godzinę: <b><%=announcement.price_per_hour %> zł</b></h5>
                      <h5 style="text-shadow: 0px 1px 3px rgba(0,0,0,0.3);">Cena za dzień: <b><%=announcement.price_per_day %> zł</b></h5>
                  </div>
                </div>

              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row", style="padding-top:40px;"></div>

  </center>
</div>
