
<br>
<div class="container">
  <center>
    <div class="grid">
      <div class="row">
        <% @categories.each do |category| %>
          <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <%= link_to image_tag(url_for(:controller => "announcement_categories", :action => "show", :id => category.id), size: "200x200", alt: category.name), {:controller => 'announcement', :action => 'view_by_category', :id => category.id}%>
          </div>
        <% end %>
    </div>
  <br>
</div>

<div class="grid">
  <% @announcements.take(5).each do |announcement| %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <%= link_to({:controller => 'announcement', :action => 'show', :id => announcement.id}) do %>
        <div class="imageContainer" style="color:black;">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <% @photos.each do |photo| %>
              <% if photo.announcement.id == announcement.id%>
              <br><br>
                <td><%=image_tag(photo.image, size: "200x200")%></td>
                <% break %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <br>
            <div class="row">
              <h2><%= announcement.title%></h2>
            </div>
            <div class="row">
              <h5><%= announcement.announcement_category.name%></h5>
            </div>
            <div class="row">
              <h5>Cena za godzinę: <%=announcement.price_per_hour %> zł</h5>
            </div>
            <div class="row">
              <h5>Cena za dzień: <%=announcement.price_per_day %> zł</h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</center>
</div>



    <!-- <div class="row">
        <% @announcements.take(5).each do |announcement| %>
          <div class="alert alert-success">
            <div class="row">
              <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 text-left">
                <% @photos.each do |photo| %>
                  <% if photo.announcement.id == announcement.id%>
                    <td><%=image_tag(photo.image, size: "200x200")%></td>
                    <% break %>
                  <% end %>
                <% end %>
              </div>
              <h3 class="col-xs-12 col-sm-5 col-md-7 col-lg-8 text-center">
                <%= link_to("#{announcement.title}", {:controller => 'announcement', :action => 'show', :id => announcement.id, :class => "btn btn-lg btn-primary btn-block"}) %>
                <div class="row">
                  <h5><%= announcement.announcement_category.name%></h5>
                </div>
              </h3>
              <h3 class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-left">
                Cena za godzine: <%=announcement.price_per_hour %> zł
                <div class="row">
                  <h4>
                    Cena za dzień: <%=announcement.price_per_day %> zł
                  </h4>
                </div>
              </h3>
              <h4 class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-right"><br>Data dodania: <%=announcement.created_at %></h4>
            </div>
          </div>
        <%end%>
    </div>
  </div> -->
