
<div class="container">
  <h1>Kategorie</h1>

  <p>
    Ilość kategorii: <%= @categories.size%>
  </p>
  <table>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Utworzona</th>
      <th>Ilość ogłoszeń</th>
      <th>Akcje</th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <td><%=category.id %></td>
        <td><%=category.name%></td>
        <td><%=category.created_at%></td>
        <td align="right"><%=category.announcements.size %></td>
        <td>
          <%= link_to("Edycja", '#')%>
          <%= link_to("Usuń", '#')%>
        </td>
      </tr>
    <% end %>

  </table>
</div>
