<center>
<div class="container" style="max-width: 1200px;">
  <h1>Kategorie</h1>

  <p>
    Ilość kategorii: <%= @categories.size%>
  </p>

  <p>
    <%= link_to("Dodaj kategorię", {:controller => 'announcement_categories', :action => 'new'}, :class=>"btn btn-info")%>
  </p>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Ilość ogłoszeń</th>
      <th>Utworzona</th>
      <th>Edytowana</th>
      <th>Akcje</th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <td><%=category.id %></td>
        <td><%=category.name%></td>
        <td align="center"><%=category.announcements.size %></td>
        <td><%=category.created_at%></td>
        <td><%=category.updated_at%></td>
        <td>
          <%= link_to("Pokaż ogłoszenia", {:controller => 'announcement', :action => 'view_by_category', :id => category.id}, :class=>"btn btn-sm btn-primary")%>
          <%= link_to("Edycja", {:action => 'edit', :id => category.id}, :class=>"btn btn-sm btn-primary")%>
          <%= link_to("Usuń", {:action => 'delete', :id => category.id}, :class=>"btn btn-sm btn-primary")%>
        </td>

      </tr>
    <% end %>

  </table>

  <%= link_to("Panel zarządzania", {:controller => 'access', :action => 'index'}, :class=>"btn btn-info") %>
</div>
</center>
