<h1>Nowa kategoria</h1>

<%= link_to("Wróć", {:action => 'index'}) %>

<%= form_for(:cetegory, :url => {:action => "create"}) do |field|%>

<table>
  <tr>
    <th> <%= field.label(:name) %> </th>
    <td> <%= field.text_field(:name)%></td>
  </tr>

  <tr>
    <th> <%= field.label(:position) %> </th>
    <td> <%= field.select(:position,1..@counter)%></td>
  </tr>

  <tr>
    <th> <%= field.label(:visible, "Czy jest widoczna?") %> </th>
    <td> <%= field.check_box(:visible)%></td>
  </tr>

</table>
<div>
  <%= submit_tag("Utwórz") %>
</div>
<% end %>
