<!DOCTYPE html>
<html>
<head>
  <title>WSE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.html.erb', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="main-page-content <%= controller.controller_name %>">
    <%= yield %>
  </div>

</body>
</html>
